$background-colour: #5a8a6c;
$title-colour: #d1d249;
$subtitle-colour: #bdb83c;
$light-subtitle-colour: #d5d27c;
$palest-colour: #e7e7a0;
$para-colour: #dce5dd;
$button-text-colour: #a29e34;
$button-colour: #3c513f;
$button-colour-click: #1c2b21;
$button-colour-hover: #2a4032;
