@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display&family=Pacifico&family=Permanent+Marker&display=swap");
body {
  background-color: #5a8a6c;
  height: 100%;
}

h1 {
  text-align: center;
  color: #d1d249;
  font-family: "Permanent Marker", sans-serif;
  font-size: 40px;
  font-style: normal;
}

label {
  color: #e7e7a0;
  font-size: 20px;
}

button {
  background-color: #3c513f;
  color: #a29e34;
  padding: 10px 25px;
  border-radius: 10px;
  border: 0;
  margin-top: 10px;
  font-size: 15px;
  margin-left: 5vw;
}
button:hover {
  background-color: #2a4032;
  cursor: pointer;
}
button:active {
  background-color: #1c2b21;
}

.translator {
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans Display", sans-serif;
}

.boxes {
  font-size: 20px;
  width: 25em;
  height: 4.33em;
  margin-top: 10px;
  background-color: white;
  margin: 10px;
}
@media only screen and (max-width: 320px) {
  .boxes {
    font-size: 8px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .boxes {
    font-size: 12px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .boxes {
    font-size: 15px;
  }
}

.whiteboxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media only screen and (max-width: 320px) {
  .whiteboxes {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .whiteboxes {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .whiteboxes {
    flex-direction: column;
    align-items: center;
  }
}

.personals {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: "Pacifico";
  margin-top: 20px;
}
.personals__logo {
  width: 32px;
  height: 32px;
  margin: 0px 20px 0px 20px;
}
.personals__github {
  background-image: url("./images/github-black-32.png");
}
.personals__github:hover {
  background-image: url("./images/github-yellow-32.png");
}
.personals__github:active {
  background-image: url("./images/github-orange-32.png");
}
.personals__linkedin {
  background-image: url("./images/linkedin-black-32.png");
}
.personals__linkedin:hover {
  background-image: url("./images/linkedin-yellow-32.png");
}
.personals__linkedin:active {
  background-image: url("./images/linkedin-orange-32.png");
}

#errorbox--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
