@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display&family=Pacifico&family=Permanent+Marker&display=swap");
body {
  background-color: #5a8a6c;
  height: 100%;
  font-family: "Noto Sans Display", sans-serif;
}

h1 {
  text-align: center;
  color: #d1d249;
  font-family: "Permanent Marker", sans-serif;
  font-size: 40px;
  font-style: normal;
}
@media only screen and (max-width: 320px) {
  h1 {
    font-size: 25px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  h1 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 45px;
  }
}

.translator {
  display: flex;
  flex-direction: column;
}

.boxes {
  font-size: 20px;
  width: 25em;
  height: 4.33em;
  background-color: #e7e7a0;
  margin: 10px;
  border: none;
}
@media only screen and (max-width: 320px) {
  .boxes {
    font-size: 8px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .boxes {
    font-size: 12px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .boxes {
    font-size: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .boxes {
    font-size: 25px;
  }
}

.whiteboxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media only screen and (max-width: 768px) {
  .whiteboxes {
    flex-direction: column;
    align-items: center;
  }
}

.personals {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: "Pacifico";
  margin-top: 10px;
}
@media only screen and (min-width: 768px) {
  .personals {
    margin-top: 20px;
  }
}
.personals__logo {
  width: 32px;
  height: 32px;
}
@media only screen and (min-width: 768px) {
  .personals__logo {
    width: 64px;
    height: 64px;
  }
}
.personals__github {
  background-image: url("./images/github-black-32.png");
  margin-right: 10px;
}
.personals__github:hover {
  background-image: url("./images/github-yellow-32.png");
}
.personals__github:active {
  background-image: url("./images/github-orange-32.png");
}
@media only screen and (min-width: 768px) {
  .personals__github {
    background-image: url("./images/github-black-64.png");
  }
  .personals__github:hover {
    background-image: url("./images/github-yellow-64.png");
  }
  .personals__github:active {
    background-image: url("./images/github-orange-64.png");
  }
}
.personals__linkedin {
  margin-left: 10px;
  background-image: url("./images/linkedin-black-32.png");
}
.personals__linkedin:hover {
  background-image: url("./images/linkedin-yellow-32.png");
}
.personals__linkedin:active {
  background-image: url("./images/linkedin-orange-32.png");
}
@media only screen and (min-width: 768px) {
  .personals__linkedin {
    background-image: url("./images/linkedin-black-64.png");
  }
  .personals__linkedin:hover {
    background-image: url("./images/linkedin-yellow-64.png");
  }
  .personals__linkedin:active {
    background-image: url("./images/linkedin-orange-64.png");
  }
}

a {
  width: 32px;
  height: 32px;
}
@media only screen and (min-width: 768px) {
  a {
    width: 64px;
    height: 64px;
  }
}

.centred-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
}
@media only screen and (max-width: 320px) {
  .centred-text {
    font-size: 12px;
  }
}
@media only screen and (max-width: 320px) {
  .centred-text {
    font-size: 13px;
  }
}
@media only screen and (min-width: 1200px) {
  .centred-text {
    font-size: 18px;
  }
}
