@use "./partials/palette";
@use "./partials/devices";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display&family=Pacifico&family=Permanent+Marker&display=swap");

body {
    background-color: palette.$background-colour;
    height: 100%;
    font-family: "Noto Sans Display", sans-serif;
}

h1 {
    text-align: center;
    color: palette.$title-colour;
    font-family: "Permanent Marker", sans-serif;
    font-size: 40px;
    font-style: normal;
    @include devices.phone-s {
        font-size: 25px;
    }
    @include devices.phone {
        font-size: 30px;
    }
    @include devices.desktop {
        font-size: 45px;
    }
}

.translator {
    display: flex;
    flex-direction: column;
}

.boxes {
    font-size: 20px;
    width: 25em;
    height: 4.33em;
    background-color: palette.$palest-colour;
    margin: 10px;
    border: none;
    @include devices.phone-s {
        font-size: 8px;
    }
    @include devices.phone {
        font-size: 12px;
    }
    @include devices.tablet {
        font-size: 15px;
    }
    @include devices.desktop {
        font-size: 25px;
    }
}

.whiteboxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @include devices.small-width {
        flex-direction: column;
        align-items: center;
    }
}

.personals {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: "Pacifico";
    margin-top: 10px;
    @include devices.large-width {
        margin-top: 20px;
    }
    &__logo {
        width: 32px;
        height: 32px;
        @include devices.large-width {
            width: 64px;
            height: 64px;
        }
    }
    &__github {
        background-image: url("./images/github-black-32.png");
        margin-right: 10px;
        &:hover {
            background-image: (url("./images/github-yellow-32.png"));
        }
        &:active {
            background-image: (url("./images/github-orange-32.png"));
        }
        @include devices.large-width {
            background-image: url("./images/github-black-64.png");
            &:hover {
                background-image: (url("./images/github-yellow-64.png"));
            }
            &:active {
                background-image: (url("./images/github-orange-64.png"));
            }
        }
    }
    &__linkedin {
        margin-left: 10px;
        background-image: url("./images/linkedin-black-32.png");
        &:hover {
            background-image: (url("./images/linkedin-yellow-32.png"));
        }
        &:active {
            background-image: (url("./images/linkedin-orange-32.png"));
        }
        @include devices.large-width {
            background-image: url("./images/linkedin-black-64.png");
            &:hover {
                background-image: (url("./images/linkedin-yellow-64.png"));
            }
            &:active {
                background-image: (url("./images/linkedin-orange-64.png"));
            }
        }
    }
}

a {
    width: 32px;
    height: 32px;
    @include devices.large-width {
        width: 64px;
        height: 64px;
    }
}
.centred-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    @include devices.phone-s {
        font-size: 12px;
    }
    @include devices.phone-s {
        font-size: 13px;
    }
    @include devices.desktop {
        font-size: 18px;
    }
}
