@use "./partials/palette";
@use "./partials/devices";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display&family=Pacifico&family=Permanent+Marker&display=swap");

body {
    background-color: palette.$background-colour;
    height: 100%;
}

h1 {
    text-align: center;
    color: palette.$title-colour;
    font-family: "Permanent Marker", sans-serif;
    font-size: 40px;
    font-style: normal;
}

label {
    color: palette.$palest-colour;
    font-size: 20px;
}

button {
    background-color: palette.$button-colour;
    color: palette.$button-text-colour;
    padding: 10px 25px;
    border-radius: 10px;
    border: 0;
    margin-top: 10px;
    font-size: 15px;
    &:hover {
        background-color: palette.$button-colour-hover;
        cursor: pointer;
    }
    &:active {
        background-color: palette.$button-colour-click;
    }
}

.translator {
    display: flex;
    flex-direction: column;
    font-family: "Noto Sans Display", sans-serif;
}

.boxes {
    font-size: 20px;
    width: 25em;
    height: 4.33em;
    background-color: white;
    margin: 10px;
    @include devices.phone-s {
        font-size: 8px;
    }
    @include devices.phone {
        font-size: 12px;
    }
    @include devices.tablet {
        font-size: 15px;
    }
}

.whiteboxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @include devices.phone-s {
        flex-direction: column;
        align-items: center;
    }
    @include devices.phone {
        flex-direction: column;
        align-items: center;
    }
    @include devices.tablet {
        flex-direction: column;
        align-items: center;
    }
}

.personals {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: "Pacifico";
    margin-top: 20px;
    &__logo {
        width: 32px;
        height: 32px;
        margin: 0px 20px 0px 20px;
    }
    &__github {
        background-image: url("./images/github-black-32.png");
        &:hover {
            background-image: (url("./images/github-yellow-32.png"));
        }
        &:active {
            background-image: (url("./images/github-orange-32.png"));
        }
    }
    &__linkedin {
        background-image: url("./images/linkedin-black-32.png");
        &:hover {
            background-image: (url("./images/linkedin-yellow-32.png"));
        }
        &:active {
            background-image: (url("./images/linkedin-orange-32.png"));
        }
    }
}

#errorbox--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#button--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
